@using DeviousCreation.CqrsIdentity.Core.Settings
@using DeviousCreation.CqrsIdentity.Web.Pages.App.UserManagement.Users
@using Microsoft.Extensions.Options
@inject IOptions<SiteSettings> SiteSettings
@{
    var siteName = ViewData["Title"] != null ? $"{ViewData["Title"]} | {SiteSettings.Value.Name}" : SiteSettings.Value.Name;
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@siteName</title>
    <link href="~/vendor.css" rel="stylesheet" asp-append-version="true">
    <link href="~/theme.css" rel="stylesheet" asp-append-version="true">
    <link href="~/app.css" rel="stylesheet" asp-append-version="true">
</head>
@RenderSection("styles", false)
<body class="fix-header fix-sidebar card-no-border">

@if (ViewData["PageNotifications"] is IReadOnlyList<NotificationPageModel.PageNotification> notifications)
{
    foreach (var pageNotification in notifications)
    {
        <span data-page-notification data-title="@pageNotification.Title" data-message="@pageNotification.Message"></span>
    }
}
@RenderBody()
<script type="text/javascript" src="~/vendors.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/commons.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/app.js" asp-append-version="true"></script>
@RenderSection("scripts", false)
</body>
</html>